ollama==0.1.9
SpeechRecognition==3.10.3
librosa==0.10.2
soundfile==0.12.1
PyAudio==0.2.14
python-dotenv==1.0.1
beautifulsoup4==4.12.3
transformers==4.40.2
torch==2.3.0
Pillow==10.3.0
matplotlib==3.8.4
timm==0.9.16
faster-whisper==1.0.2
newsapi-python==0.2.7
spotipy==2.24.0