beautifulsoup4==4.12.3
faster-whisper==1.0.2
librosa==0.10.2
matplotlib==3.8.4
ollama==0.1.9
Pillow==10.3.0
PyAudio==0.2.14
python-dotenv==1.0.1
soundfile==0.12.1
SpeechRecognition==3.10.3
timm==0.9.16
torch==2.3.0
transformers==4.40.2
huggingface-hub==0.23.1